/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/box-sizing";

@import "normalize";
@import "vars-typeplate";
@import "typeplate";

* {
  @include box-sizing(border-box);
}

// Typography

.frame {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 2em
}

.blog-header {
  text-align: center;
  background-color: #777;
  padding: 2em 0;
}

.blog-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    padding: 1em;
  }
}

.blog-content {
  h1 {
    @extend .gamma;
  }
}




